# Demo Notebook - Text Data Manipulation

### Description
The purpose of this notebook is to provide examples of common text data manipulations that can be used in Python to automate data processing tasks. The notebook will focus on the two most common types of text data: excel and csv. The following topics will be covered:

1. Reading multiple excel files from the same directory
2. Removing an excel header
3. Combining multiple excel sheets vertically (concatenate)
4. Removing duplicates
5. Removing missing values
6. Expanding 1 row with combined field into multiple rows
7. Reading a csv file
8. Merging excel data and csv data horizontally (join)
9. Group by Date and count the number of unique PR's of each type
10. Outputting to new excel or csv file

In [1]:
# First we must import the pandas package that we will use to read our files
import pandas as pd

## 1. Reading multiple excel files from the same directory

In [2]:
# Create list of excel filenames
excel_filenames = ["https://raw.githubusercontent.com/jzhangab/DS101/master/1_Data/Excel_demo/excel_demo_1.xlsx",
                   "https://raw.githubusercontent.com/jzhangab/DS101/master/1_Data/Excel_demo/excel_demo_2.xlsx",
                   "https://raw.githubusercontent.com/jzhangab/DS101/master/1_Data/Excel_demo/excel_demo_3.xlsx"]

## 2 + 3. Removing an excel header and combining multiple excel sheets vertically

First let's read one of the files, try reading it with and without skipping the first 5 rows using the skiprows command

In [5]:
df_1_excel = pd.read_excel("https://raw.githubusercontent.com/jzhangab/DS101/master/1_Data/Excel_demo/excel_demo_1.xlsx",
                           sheet_name = "export_query_results",
                           skiprows = 0) #Try setting skiprows to 0 or 1 and see what the df_1_excel looks like

In [6]:
# This command previews the start of the dataframe
df_1_excel.head(10)

,Data exported from Oracle Database,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,Export date: 12/21/2019,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN
2,Export by:,User x,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN
4,PR ID,Date,Type,Country,Description
5,1234,2019-01-01 00:00:00,Deviation,Japan;United States,Lorem Ipsum is simply dummy text of the printi...
6,1234,2019-01-01 00:00:00,Complaint,Japan;United States,Lorem Ipsum is simply dummy text of the printi...
7,1235,2019-01-02 00:00:00,Deviation,United States,Lorem Ipsum is simply dummy text of the printi...
8,1236,2019-01-02 00:00:00,Deviation,United States,Lorem Ipsum is simply dummy text of the printi...
9,1237,2019-01-02 00:00:00,Deviation;CAPA,Mexico,Lorem Ipsum is simply dummy text of the printi...

In [ ]:
# pd.concat is used to concatenate multiple dataframes
df_excel = pd.concat((pd.read_excel(f,
                                    sheet_name = "export_query_results",
                                    skiprows = 5) for f in excel_filenames))

In [ ]:
# Preview the resulting combined dataframe
df_excel.head(5)

## 4. Remove duplicate rows

In [ ]:
df_excel = df_excel.drop_duplicates(keep = "first")

## 5. Remove missing values

In [ ]:
df_excel = df_excel.dropna()

## 6. Expand a row into multiple rows based on delimited column
We will expand the ";" delimited column [Type] into multiple rows

In [ ]:
# First convert [Type] into list form
df_excel['Type'] = df_excel['Type'].str.split(';')

In [ ]:
# Then explode the column
df_excel = df_excel.explode('Type')

In [ ]:
# Check the dataframe
df_excel.head()

## 7. Read a single CSV file

In [ ]:
df_csv = pd.read_csv("https://raw.githubusercontent.com/jzhangab/DS101/master/1_Data/Excel_demo/map.csv")

In [ ]:
df_csv.head()

## 8. Merging excel data and csv data horizontally (join)

In [ ]:
# This is a left join
df_merge = pd.merge(df_excel,
                    df_csv,
                    left_on = 'PR ID',
                    right_on = 'PR',
                    how = 'left')

In [ ]:
df_merge.head()

## 9. Group by Date and count the number of unique PR's of each type

In [ ]:
df_group = df_merge.groupby(['Date', 'Type']).count()
df_group = df_group[['PR ID']]

In [ ]:
df_group.head()

# 10. Output to excel or csv

In [ ]:
# Local file Download
df_group.to_csv('thisisacsvfile.csv')

# Cloud file Download
from google.colab import files
files.download('thisisacsvfile.csv')

In [ ]:
# And if you want to read the file you just output
pd.read_csv('thisisacsvfile.csv')